backend:
  name: git-gateway
  branch: main # Branch to update (optional; defaults to master)
media_folder: static/images/news
public_folder: /images/news
collections:
  - name: 'news'
    label: 'News'
    folder: 'content/posts'
    create: true
    slug: '{{slug}}'
    editor:
      preview: false
    fields:
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Publish Date', name: 'date', widget: 'datetime' }
      - { label: 'Description', name: 'description', widget: 'string' }
      - { label: 'Body', name: 'body', widget: 'markdown' }
      - { label: 'Tags', name: 'tags', widget: 'list' }
      - { label: 'Image', name: 'image', widget: 'image' }
      - { label: 'Author', name: 'author', widget: 'hidden', default: 'Wind&Bones' }