{{ $script := resources.Get "js/scripts.js" }}
{{ $commonJs := resources.Get "js/common.js" }}

{{ if .Site.IsServer }}
<script src="{{ $script.Permalink }}"></script>
<script src="{{ $commonJs.Permalink }}"></script>
{{ else }}
<script src="{{ ($script | minify | fingerprint).RelPermalink }}"></script>
<script src="{{ ($commonJs | minify | fingerprint).RelPermalink }}"></script>
<!-- Decap redirect --> 
<script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
{{ end }}